body {
    margin: 0;
    font-family: sans-serif; 
    height: 100vh;
}
h1 {
   height: 70px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(219, 20, 20); 
}

footer {
    position: absolute;
    bottom: 0;
    color: white;
        
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 42, 42); 
}


li {
    list-style: none;
    border-width: 2px;
    border-style: solid;
    background-color: rgb(255, 255, 255);
    border-image: linear-gradient(rgb(223, 12, 12),rgb(68, 68, 68));
    border-image-slice: 1; 

    width: fit-content;
    padding: 5px;
    margin-top: 10px;
    
}
button {
    margin-left: 15px;
    border-radius: 4px;
    font-weight: 400;
    background: linear-gradient(rgb(182, 182, 182),rgb(236, 115, 115));
}
button:hover {
    background-color: rgb(255, 117, 117);
}
#save-button {
    height: 5vh;
    border-radius: 5px;
}
#save-button:hover {
    background: linear-gradient(rgb(182, 182, 182),rgb(131, 236, 121));
}
#task {
    margin-left: 37vw;
}

input {
    margin-top: 15px;
    height: 5vh;
    width: 25vw;
}
