* {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
}
#screen {
    border: solid 2px black;
    height: 90px;
    width: 290px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    
}
#container {
    display: flex;
    flex-wrap: wrap;
    border: solid 2px black;
    height: auto;
    width: 300px;
}
#container button{
    height: 75px;
    width: 75px;
}

.con1 {
    width: 225px; 
    display: flex;
    flex-wrap: wrap;
}
.con2 {
    width: 75px; 
}